script(type="text/ng-template", id="modal.html")
  div(class="modal-header")
    button(type="button", data-dismiss="modal", aria-label="Close", class="close", ng-click="cancel()")
      span(aria-hidden="true") ×
    h3(class="modal-title") [[modalTitle]]
  div(class="modal-body create")
    form(role="form", class="pixelCreateForm", id="pixel-form", action="#", method="get")
      div(class="basic-option row")
        div(class="form-group col-lg-6 col-md-6")
          label(class="control-label") Pixel ID
          input(class="form-control",
            type="text",
            name="pid",
            data-fv-server="[[!!pixel.errors.id]]",
            data-fv-server-message="[[pixel.errors.id]]",
            ng-model="pixel.pixel_id",
            no-edit="mode == 'edit'",
            placeholder="Identifier for a new pixel",
            role="input")
        div(class="form-group col-lg-6 col-md-6")
          label(class="control-label") Name
          input(class="form-control",
            type="text",
            name="description",
            data-fv-server="[[!!pixel.errors.name]]",
            data-fv-server-message="[[pixel.errors.name]]",
            ng-model="pixel.name",
            placeholder="Displayed name",
            role="input")
      div(class="sharing-options")
        h4(class="sharing-options_header") Sharing options
        hr(class="hr")
        div(class="sharing-option row", ng-repeat="option in pixelOptions track by $index")
          div(class="sharing-option-inner col-lg-12 col-md-12")
            div(class="form-group col-lg-6 col-md-6")
              label(class="control-label") Customer
              div(class="input-group")
                input(type="hidden",
                  class="form-control",
                  disabled="disabled",
                  name="unique[]",
                  value="[[option.customer.unique]]")
                div(class="input-group-btn", dropdown)
                  input(type="hidden",
                    class="form-control",
                    data-fv-server="[[!!option.errors.type]]",
                    data-fv-server-message="[[option.errors.type]]",
                    value="[[option.customer.type]]",
                    name="externals-[[$index]]-type",
                    id="id_externals-[[$index]]-type")
                  button(type="button",
                    class="btn btn-default dropdown-toggle",
                    no-edit="mode == 'edit' && !option.new",
                    dropdown-toggle) [[(customers | filter: {type:option.customer.type})[0].name]]
                    span(class="caret")
                  ul(class="dropdown-menu" role="menu")
                    li(class="",
                      ng-repeat="customer in customers",
                      ng-class="{active: $parent.option.customer.type == customer.type }",
                      ng-click="$parent.option.customer = customer")
                      span(class="", ng-bind="customer.name")
                input(class="form-control form-control__custom",
                  type="text",
                  no-edit="mode == 'edit' && !option.new",
                  id="id_externals-[[$index]]-eid",
                  name="externals-[[$index]]-eid",
                  ng-model="option.customer.id",
                  data-fv-server="[[!!option.errors.customer_id]]",
                  data-fv-server-message="[[option.errors.customer_id]]",
                  data-fv-notempty="true",
                  data-fv-notempty-message="Customer ID is required.",
                  data-fv-digits="true",
                  data-fv-digits-message="Customer ID value can contain only digits.",
                  placeholder="Customer ID",
                  role="input")
            div(class="form-group col-lg-5 col-md-5")
              label(class="control-label") Cost
              input(type="text", class="form-control",
                role="input",
                id="id_externals-[[$index]]-cost_0",
                name="externals-[[$index]]-cost_0",
                no-edit="mode == 'edit' && !option.new",
                ng-model="option.cpm.cost",
                data-fv-server="[[!!option.errors.cost]]",
                data-fv-server-message="[[option.errors.cost]]",
                data-fv-notempty="true",
                data-fv-notempty-message="Cost value is required.",
                data-fv-regexp="true"
                data-fv-regexp-regexp="^[0-9]{0,5}\.?[0-9]{1,2}$"
                data-fv-regexp-message="Cost value must be numeric and can't have less than 1 or more than 2 decimal places.",
                data-fv-lessthan="true",
                data-fv-lessthan-inclusive="true",
                data-fv-lessthan-value="99999.99",
                data-fv-lessthan-message="Please enter a value less than or equal to 99999.99",
                placeholder="Cost Value")
            div(class="sharing-option_actions form-group col-lg-1 col-md-1")
              label(class="control-label", ng-show="option.new") Remove
              label(class="control-label", ng-show="!option.new", for="id_externals-[[$index]]-enabled") Active
              input(type="hidden",
                id="id_externals-[[$index]]-id",
                name="externals-[[$index]]-id",
                value="[[option.id || 0]]")
              div(class="sharing-option_action sharing-option_action__trash",
                ng-click="removeOption($index)",
                ng-show="option.new")
                span(class="glyphicon glyphicon-trash", aria-hidden="true")
              div(class="sharing-option_action sharing-option_action__checkbox",
                ng-show="!option.new")
                input(type="checkbox",
                  id="id_externals-[[$index]]-enabled",
                  name="externals-[[$index]]-enabled",
                  ng-model="option.enabled")
                input(type="hidden",
                  id="id_externals-[[$index]]-enabled",
                  ng-if="!option.enabled",
                  name="id_externals-[[$index]]-enabled",
                  ng-model="option.enabled")
        p(class="notice", ng-show="pixelOptions.length") * Please note that the entered cost has the currency of the specified account.
        div(class="sharing-options_add")
          div(class="btn btn-sm btn-success", ng-click="pixelOptions.push(getDefaultOption())") Add Option
      input(id="id_externals-TOTAL_FORMS", name="externals-TOTAL_FORMS", type="hidden", value="[[pixelOptions.length]]", autocomplete="off")
      input(id="id_externals-INITIAL_FORMS", name="externals-INITIAL_FORMS", type="hidden", ng-init="optionsCountInitial = pixelOptions.length", value="[[optionsCountInitial]]")
      input(id="id_externals-MIN_NUM_FORMS", name="externals-MIN_NUM_FORMS", type="hidden", value="0")
      input(id="id_externals-MAX_NUM_FORMS", name="externals-MAX_NUM_FORMS", type="hidden", value="1000")
      div(class="modal-footer row")
        div(class="policy")
          span I agree with &nbsp;
          a(href="http://my.aidata.me/data/docs/Google_Data_Policies.pdf", target="_blank") Google Data Platform Policies.
        button(class="btn btn-primary", type="submit") OK
        button(class="btn btn-warning", ng-click="cancel()") Cancel