div(class="tablecontrols ng-cloak", ng-show="!$root.preloading.page")
  include modal
  include modal__segments
  button(class="btn btn-success btn-md tablecontrol__create",
    ng-click="openModal('lg', 'create')") Create Pixel
  div(class="tablecontrol_wrapper", tooltip="[[editPixelTooltip]]",
    ng-show="gridOptions.data.length")
    button(class="btn btn-success btn-md tablecontrol__edit",
      ng-disabled="!$root.editedPixel",
      ng-click="openModal('lg', 'edit')") Edit Pixel
  div(class="tablecontrol_wrapper", tooltip="[[editPixelTooltip]]",
    ng-show="gridOptions.data.length")
    button(class="btn btn-success btn-md tablecontrol__preview",
      ng-disabled="!$root.editedPixel || $root.editedPixel.type.toLowerCase() == 'lookalike'") View Pixel Code
  div(class="tablecontrol_wrapper", tooltip="[[editPixelTooltip]]",
    ng-show="gridOptions.data.length")
    button(class="btn btn-success btn-md tablecontrol__segments",
      ng-disabled="!$root.editedPixel || $root.editedPixel.type.toLowerCase() == 'lookalike'",
      ng-click="openModal('lg', 'segments')") Similar Segments